@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h3>Aplicacion de Alquiler de Videojuegos</h3>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cliente</h2>
        
        <p><a class=btn-default href="~/Clientes/Index">Lista de Clietes &raquo;</a></p>
       
    </div>
    <div class="col-md-4">
        <h2>Juego</h2>
        <p><a class=btn-default href="~/Juego/Index">Lista de Juego &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Historial</h2>
        <p><a class=btn-default href="~/Historial/Index/1">Hisotrial &raquo;</a></p>
    </div>
</div>